.Speedometer_Section {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  gap: 120px;
  flex-wrap: nowrap;
  overflow: scroll;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
body::-webkit-scrollbar {
  width: 0.1px;
}
.Speedometer_Section::-webkit-scrollbar {
  width: 0.1px;
}

.Speedometer {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Case_Box,.Case_Box_H {
  width: auto;
  height: 30px;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Case_Box_H{
  border: 2px solid #ffffff;
  color: #ffffff;

}
